<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>
        <%= title %>
    </title>
</head>

<body class="bg-slate-50">
    <div class="flex items-center justify-center p-12">
        <div class="mx-auto w-full max-w-[550px]">
            <form action="/updateUser" method="POST">
                <% data.map(item=> { %>
                    <div class="mb-5" hidden>
                        <label for="StudentID" class="mb-3 block text-base font-medium text-[#07074D]">
                            ID
                        </label>
                        <input type="text" name="StudentID" id="StudentID" value="<%= item.StudentID %>"
                            class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md" />
                    </div>
                    <div class="mb-5">
                        <label for="FirstName" class="mb-3 block text-base font-medium text-[#07074D]">
                            First Name
                        </label>
                        <input type="text" name="FirstName" id="FirstName" value="<%= item.FirstName %>"
                            class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md" />
                    </div>
                    <div class="mb-5">
                        <label for="LastName" class="mb-3 block text-base font-medium text-[#07074D]">
                            Last Name
                        </label>
                        <input type="text" name="LastName" id="LastName" value="<%= item.LastName %>"
                            class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md" />
                    </div>
                    <div class="mb-5">
                        <label for="Age" class="mb-3 block text-base font-medium text-[#07074D]">
                            Age
                        </label>
                        <input type="text" name="Age" id="Age" value="<%= item.Age %>"
                            class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md" />
                    </div>
                    <div class="mb-5">
                        <label for="email" class="mb-3 block text-base font-medium text-[#07074D]">
                            Email
                        </label>
                        <input type="email" name="Email" id="email" value="<%= item.Email %>"
                            class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md"
                            required />
                    </div>
                    <div class="mb-5">
                        <label for="Password" class="mb-3 block text-base font-medium text-[#07074D]">
                            Password
                        </label>
                        <input type="text" name="Password" id="Password" value="<%= item.Password %>"
                            class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md" />
                    </div>
                    <div class="mb-5">
                        <label for="Country" class="mb-3 block text-base font-medium text-[#07074D]">
                            Country
                        </label>
                        <input type="text" name="Country" id="Country" value="<%= item.Country %>"
                            class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md" />
                    </div>
                    <div>
                        <button type="submit"
                            class="hover:shadow-form rounded-md bg-[#6A64F1] py-3 px-8 text-base font-semibold text-white outline-none">
                            Submit
                        </button>
                    </div>
                    <% }) %>
            </form>
        </div>
    </div>
</body>

</html>
